li, a, button {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
}

.header-logo {
  margin-left: 50px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo .sidenav i {
  font-weight: 600;
  font-size: 34px;
  color: #c5c5c5;
  margin-right: 5px;
}

.header-logo .link {
  font-size: 18px;
  font-weight: 600;
  color: #343434;
}

.delimeter {
  border-right: 1px solid #757575;
}

.nav-links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px 0 0;
}

.nav-links li {
  display: inline-block;
  padding: 0 5px;
}

.nav-links li a {
  font-weight: 600;
  font-size: 14;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #757575;
}

.nav-links li a:hover {
  color: #6fcf97;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-category {
  color: #383838;
  background-color: transparent;
  border: 1px solid #dfdfdf;
  border-left: none;
  padding-right: 5px;
  margin: 0;
  font-size: 12px;
  font-weight: 600;
  cursor: inherit;
  line-height: inherit;
  height: 31px;
}

.search-input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
  font-weight: 550;
  padding: 0 80px 0 10px;
  border: 1px solid #dfdfdf;
}

@media only screen and (max-width: 600px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .search-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .search-input {
    margin-bottom: 10px;
  }
  .header-logo {
    padding: 10px 0;
    margin: 0;
  }
  .sidenav {
    display: none;
  }
}

body {
  margin: 0;
  padding: 0;
  font: 100% sans-serif, Arial, Helvetica;
  color: #333;
  background: #f2f2f2;
}

html, body {
  height: 100%;
  min-height: 100%;
}

.form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: calc( 100vh - 60px);
  background-color: #ffffff;
}

.form-wrapper .header {
  color: #ffffff;
  background-color: #bdbdbd;
}

.form-wrapper .header .section {
  height: 100%;
  width: 67%;
  margin: 0 auto;
}

.form-wrapper .body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  font-weight: 600;
  color: #969696;
}

.form-wrapper .body label {
  margin-bottom: 5px;
}

.form-wrapper .body input {
  padding: 10px 0;
  border: 1px solid #ededed;
}

.form-wrapper .body input[type="datetime-local"] {
  color: #656565;
  padding: 5px 0 5px 15px;
  font-size: 16px;
  font-weight: 600;
}

.form-wrapper .body input[type="datetime-local" i] {
  padding-right: 13px;
  color: #787878;
}

.form-wrapper .body input::-webkit-calendar-picker-indicator {
  color: #787878;
}

.form-wrapper .body input[type="file"] {
  opacity: 0;
  padding: 0;
  width: 90%;
}

.form-wrapper .body .custom-file-upload {
  border: 1px solid #ededed;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.form-wrapper .body .custom-file-upload i {
  float: right;
}

.form-wrapper .body textarea {
  resize: none;
  border: 1px solid #ededed;
  height: 108px;
}

.form-wrapper .body select {
  color: #656565;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #ededed;
  padding: 10px 7px 10px;
  text-indent: 1px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat 520px center;
}

.registration-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
}

.column {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px 20px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 15px;
}

.btn-group {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-group button {
  padding: 10px 15px;
  width: 50%;
  font-weight: 600;
}

.btn-submit {
  color: #ffffff;
  border: 1px solid #6fcf97;
  background-color: #6fcf97;
}

.btn-cancel {
  margin-right: 15px;
  color: #9a9a9a;
  border: 1px solid #d9d9d9;
  background-color: #ffffff;
}

@media only screen and (min-width: 600px) {
  .column {
    padding-bottom: 0;
  }
}
